<div *ngIf="movie" class="max-w-2xl mx-auto p-6">
  <mat-card class="shadow-lg rounded-2xl">
    <!-- Imagen -->
    <mat-card-header>
      <mat-card-title>
        <span class="text-2xl font-bold">{{ movie.title }}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-set>
          <mat-chip color="primary" selected>{{ movie.genre }}</mat-chip>
          <mat-chip>{{ movie.year }}</mat-chip>
        </mat-chip-set>
      </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="movie.image_url" [alt]="movie.title"/>

    <!-- Contenido -->
    <mat-card-content class="mt-4">
      <p class="text-gray-700 leading-relaxed mb-4">{{ movie.description }}</p>

      <div class="flex items-center">
        <span class="text-yellow-500 text-xl mr-2">★</span>
        <span class="font-semibold text-gray-800">{{ movie.rating }}/10</span>
      </div>
    </mat-card-content>

    <mat-card-actions class="flex justify-between p-4">
      <!-- Editar -->
      <button
        type="button"
        class="flex items-center gap-2 px-4 py-2 bg-blue-600 text-white rounded-xl shadow hover:bg-green-600 transition" (click)="editMovie(movie.id)">
        <mat-icon fontIcon="edit"></mat-icon>
        <span>Editar</span>
      </button>

      <!-- Eliminar -->
      <button
        type="button"
        class="flex items-center gap-2 px-4 py-2 bg-red-600 text-white rounded-xl shadow hover:bg-black transition" (click)="deleteMovie(movie.id)">
        <mat-icon fontIcon="delete"></mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-card-actions>
    <!-- Acciones -->
    <mat-card-actions class="mt-4">
      <button id="back-button"
        (click)="goBack()"
        class="flex items-center gap-2 px-4 py-2 bg-blue-600 text-white rounded-xl shadow transition" >
        <mat-icon fontIcon="arrow_back"></mat-icon>Volver al listado
      </button>
    </mat-card-actions>
  </mat-card>
</div>
