<div class="max-w-2xl mx-auto mt-8 p-6 bg-white shadow rounded-2xl">
  <h2 class="text-2xl font-bold mb-6">
    {{ editing() ? '✏️ Editar película' : '🎬 Añadir nueva película' }}
  </h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <label for="movieTitle" class="block font-medium">Título</label>
      <input id="movieTitle" formControlName="title" type="text" required class="w-full border p-2 rounded"/>
    </div>

    <div>
      <label for="movieDesc" class="block font-medium">Descripción</label>
      <textarea id="movieDesc" formControlName="description" required class="w-full border p-2 rounded"></textarea>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="movieYear" class="block font-medium">Año</label>
        <input id="movieYear" formControlName="year" type="number" class="w-full border p-2 rounded" />
      </div>
      <div>
        <label for="movieGenre" class="block font-medium">Género</label>
        <input id="movieGenre" formControlName="genre" type="text" class="w-full border p-2 rounded" />
      </div>
    </div>

    <div>
      <label for="movieRating" class="block font-medium">Puntuación</label>
      <input id="movieRating" formControlName="rating" type="number" min="0" max="10" class="w-full border p-2 rounded" />
    </div>

    <div>
      <label for="movieImg" class="block font-medium">URL de imagen</label>
      <input id="movieImg" formControlName="image_url" type="text" class="w-full border p-2 rounded" />
    </div>

    <div class="flex justify-between pt-4">
      <button type="button" (click)="cancel()" class="px-4 py-2 bg-gray-300 rounded-xl ">Cancelar</button>
      <button type="submit" [disabled]="formGroup.invalid"
              class="px-4 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition disabled:bg-gray-400 disabled:cursor-not-allowed disabled:shadow-none">
        {{ editing() ? 'Guardar cambios' : 'Añadir película' }}
      </button>
    </div>
  </form>
</div>
